server:
  port: 8082
spring:
  application:
    name: loadup-boot
  datasource:
    url: jdbc:mysql://localhost:3306/loadup-boot?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456

logging:
  level:
    org:
      springframework:
        jdbc: DEBUG