server:
  port: 8082
spring:
  application:
    name: loadup-boot
  datasource:
    url: jdbc:mysql://localhost:3306/loadup-boot?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

logging:
  level:
    org:
      springframework:
        jdbc: DEBUG

loadup:
  cache:
    type: redis

