# MyBatis-Flex annotation processor configuration.
# The processor discovers this file from each module's project root.
# See https://mybatis-flex.com/zh/others/apt.html.

processor.enable=true
processor.allInTables.enable=true
processor.allInTables.className=Tables
processor.tableDef.classSuffix=TableDef
processor.tableDef.propertiesNameStyle=upperCase
processor.mapper.generateEnable=true
processor.mapper.annotation=true
