<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Loadup Launcher
  %%
  Copyright (C) 2025 - 2026 loadup_cloud
  %%
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--
        Standard console format (default profile).
        Includes [traceId, spanId] from MDC populated by loadup-commons-tracer.
    -->
    <springProfile name="!json">
        <property name="LOADUP_CONSOLE_PATTERN"
                  value="${CONSOLE_LOG_PATTERN:-%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%X{traceId:-},%X{spanId:-}] %logger{36} - %msg%n%wEx}"/>
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${LOADUP_CONSOLE_PATTERN}</pattern>
                <charset>utf-8</charset>
            </encoder>
        </appender>
        <root level="${LOG_LEVEL:-INFO}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!--
        JSON structured logging (activate with: spring.profiles.active=json).
        Uses Logback's built-in JsonEncoder (Logback 1.5+, included via Spring Boot 3.4).
        MDC fields (traceId, spanId) are automatically serialized as top-level JSON keys.
    -->
    <springProfile name="json">
        <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
                <withFormattedMessage>true</withFormattedMessage>
            </encoder>
        </appender>
        <root level="${LOG_LEVEL:-INFO}">
            <appender-ref ref="CONSOLE_JSON"/>
        </root>
    </springProfile>

</configuration>
